<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />

    <title>PyCompressor!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">PyCompressor</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{{ url_for('index') }}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('video_page') }}">Video</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Audio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Image</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">PDF</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $("#processBar").hide();
      $("#resetVideoUploadButton").hide();

      var videoFile = document.getElementById("videoFile");

      function uploadButtonShowProgressBar() {
        if (videoFile.files.length == 0) {
          alert("No file selected");
        } else {
          $("#processBar").show();
          $("#resetVideoUploadButton").show();
        }
      }

      function resetButtonHideProgressBar() {
        $("#processBar").hide();
        $("#resetVideoUploadButton").hide();
      }
    </script>
  </body>
</html>
